##[EXERCISE 2: CREATE MARKDOWN CELL WITH H1 STYLE HEADING TITLE.]##

# DATA SCIENCE TOOLS AND ECOSYSTEM

##[EXERCISE 3: CREATE MARKDOWN CELL FOR INTRO]##

In this notebook, Data Science Tools and Ecosystem are summarized.

##[EXERCISE 10: INSERT MARKDOWN CELL TO LIST OBJECTIVES]##

**Objectives:**

+ List popular languages
+ List common libraries
+ Learn formatting for markdown cells

##[EXERCISE 4: CREATE MARKDOWN CELL WITH ORDERED LIST FOR POPULAR DATA SCIENCE LANGUAGES]##

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

##[EXERCISE 5: CREATE MARKDOWN CELL WITH COMMON DATA SCIENCE LIBRARIES]##

Some of the commonly used librariries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

##[Exercise 6: DS Tools]##
 | Data Science Tools |
 | ---------------- |
 | Tensor Flow |
 | Apache Spark |
 | RStudio |

##[Exercise 7: CREATE MARKDOWN CELL INTRODUCING ARITHMETIC EXPRESSIONS]##
### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
##[EXERCISE 8: CREATE CODE CELL TO MULTIPLY AND ADD NUMBERS]##

#This is a simple arithmetic expression to multiply than add integers:

(3*4)+5

17

In [3]:
##[EXERCISE 9: CREATE CODE CELL TO CONVERT MINS TO HOURS]##

#This will convert 200 minnutes to hours by dividing by 60

200 / 60

3.3333333333333335

##[EXERCISE 11: CREATE MARKDOWN CELL WITH AUTHOR'S NAME]##
## Author
Salman Rahim